<tui-island
  size="l"
  textAlign="center"
  [hoverable]="true"
  *transloco="let t; read: 'pollen'"
>
  <h3 class="tui-island__title">{{ t(metric.name) }}</h3>
  <div class="tui-island__content">
    <figure class="tui-island__figure">
      <tui-avatar [avatarUrl]="metric.icon"></tui-avatar>
    </figure>
    <div>
      <p class="tui-island__title">{{ metric.value.units }}</p>
    </div>
    <div>
      <p
        class="tui-island__title"
        [ngClass]="{
          'text-red-500': metric.value.level === 'very_high',
          'text-orange-500': metric.value.level === 'high',
          'text-yellow-500': metric.value.level === 'medium',
          'text-green-500': metric.value.level === 'low'
        }"
      >
        {{ metric.value.level | pollenLevel }}
        <tui-tooltip
          [content]="metric.value.count + ' gp/m³'"
          direction="right"
          size="s"
        ></tui-tooltip>
      </p>
    </div>
  </div>
</tui-island>
