<ng-container *transloco="let t; read: 'about'">
  <div class="container mx-auto px-4">
    <div class="mt-5 justify-self-end">
      <a href="https://www.buymeacoffee.com/rjlopez" target="_blank"
        ><img
          src="https://cdn.buymeacoffee.com/buttons/v2/default-violet.png"
          alt="Buy Me A Coffee"
      /></a>
    </div>
    <div [innerHTML]="t('WHY_THIS_APP__SECTION')"></div>
    <div [innerHTML]="t('HOW_IT_WORKS__SECTION')"></div>
    <div [innerHTML]="t('GREETINGS__SECTION')"></div>
  </div>
</ng-container>
