<tui-root *transloco="let t" class="pb-12">
  <!-- content of your app -->
  <polenmad-header></polenmad-header>
  <polenmad-tabs></polenmad-tabs>
  <tui-notification status="warning">
    Mostrando datos de prueba. El servicio todavía no ofrece datos reales.
    <br />
    Puedes enviar tu feedback al
    <a href="https://twitter.com/rjlopez_" class="text-blue-500 font-bold">
      creador
    </a>
  </tui-notification>
  <router-outlet></router-outlet>
  <polenmad-footer></polenmad-footer>
  <!--
   If you need, you can add something between Taiga portal layers:
  -->
  <ng-container ngProjectAs="tuiOverContent"> </ng-container>
  <ng-container ngProjectAs="tuiOverDialogs">
    <!-- Content over dialogs -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverNotifications">
    <!-- Content over notifications -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverPortals">
    <!-- Content over dropdowns -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>
</tui-root>
